%% -*- erlang -*-
{deps_dir, ["deps"]}.
%{erl_opts,[native, {hipe, [o3]}, debug_info]}.
{deps, [{jsonx, ".*", {git, "git://github.com/mbrix/jsonx.git", "master"}},
        {yawsjson2, ".*", {git, "git://github.com/spawnproc/yawsjson2", "master"}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
        {mochijson2, ".*", {git, "git://github.com/bjnortier/mochijson2.git", "master"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
        {jsone, ".*", {git, "https://github.com/sile/jsone.git", "master"}}]}.
